.navigation {
    position: fixed;
    right: 30px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    .menuToggle {
        position: relative;
        width: 60px;
        height: 60px;
        background: rgb(29, 155, 240);
        border-radius: 60px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);

        &.active .menu {
            width: 60px;
            height: 140px;
            z-index: 1;
            transform: translateY(-120px);
            transition-delay: 0s, 0.5s, 0.5s;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        }

        &.active .menu li {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
            transition-delay: calc(0.5s + var(--i));

        }

        &.active .menu::before {
            transition-delay: 0.5s;
            bottom: -6px;
        }

        i {
            font-size: 30px;
            transition: 1.5s;
            color: #fff;

        }

        .menu {
            position: absolute;
            width: 30px;
            height: 30px;
            background: rgb(29, 155, 240);
            border-radius: 60px 60px 0px 0px;
            z-index: -1;
            transition: transform 0.5s, width 0.5s, height 0.5s;
            transition-delay: 1s, 0.5s, 0.5s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

            &::before {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                background: rgb(29, 155, 240);
                left: calc(50% - 8px);
                bottom: -6px;
                transform: rotate(45deg);
                border-radius: 2px;
                transition: 0.5s;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                height: 140px;

                li {

                    list-style: none;
                    cursor: pointer;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-30px);
                    transition: 0.25s;
                    transition-delay: calc(0s + var(--i));

                    i,
                    a i {
                        width: 45px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 45px;
                        color: #fff;
                    }
                }


            }

        }
    }


}

.enquiryContainer {
    position: fixed;
    left: 0;
    top: 0;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.25);
    z-index: 3000;
    display: none;
    transition: all 0.2s ease-in;

    &.active {
        display: block;
    }
    &.active ~ .enquiryForm {
        top: 70px;
    }

}

// .enquiryContainer.active ~ .enquiryForm {
//     top: 100px;
// }

.enquiryForm {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 15px 25px 15px;
    background: #665ba6;
    width: 90%;
    transition: all 1s ease-in-out;
    z-index: 3100;

    .enquiryFormHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px 0px 15px 0px;
        color: #fff;

        i {
            cursor: pointer;
            font-size: 30px;
        }
    }
}