@import '../../styles/constants.scss';

.tabbedBarComponent {
    @media (max-width:$sm) {
        display: block;
    }

    display: none;
}

.enquiryComponent {
    @media (max-width:$sm) {
        display: none;
    }

    //    display: block;
    position: fixed;
    right: 20px;
    bottom: 0px;
    width: 300px;
    // background-color: #03a84e;
    background: #665ba6;
    border-radius: 5px 5px 0px 0px;
    padding: 7px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    z-index:2000;
}

.whatsappComponent {
    @media (max-width:$sm) {
        display: none;
    }

    display:block;
}