@import '../../styles/constants.scss';

.bookingContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;

    .bookingLeftPanel {
        @media (max-width:$sm) {
            display: none;
        }
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        img {
            width: 100%;
            height: calc(100vh - 72px);
        }
    }
    .bookingRightPanel {
        @media (max-width:$sm) {
            width: 100%;
            form{
                padding-top: 10px;
                
            }            
        }
    
        margin-top: 0px;
        width: 750px;
        padding: 30px;
        form{
            padding: 10px;
            span{
                padding-bottom: 25px;
            }
        }
    }
}